# Eclipse
/bin
.settings
.classpath
.project

# IDEA
*.iml
.idea/

# sbt
.bsp
.cache
.cache-*
target/
src_managed/
lib_managed/
project/project/
project/target/

# Development
/_build
/_data

# Application
/log
application.conf

*.class
*.log
